<main>
  <section>
    <div class="container section-1">
      <div class="inside">
        <h1>Naufal & Faiza</h1>
        <p>Akan segera melangsungkan pernikahan suci</p>
        <p style="color: orange">Sabtu, 25 November 2023</p>
        <a href="#to3" class="btn">BUKA UNDANGAN</a>
      </div>
    </div>
  </section>

  <section>
    <div class="container section-2">
      <div class="wr">
        <h1>Assalamu'alaikum Warahmatullah</h1>
        <p>
          Dengan Rahmat Allah yang Maha Kuasa InsyaAllah kami akan melangsungkan
          pernikahan pada:
        </p>
        <h2>Sabtu, 24 November 2023</h2>
        <p>di Aula Masjid ABRI Cimahi - Jalan Gatot Subroto Kota Cimahi</p>
      </div>
      <div class="flex ai-center" style="justify-content: space-around">
        <div class="pic" id="pic1">
          <img src="/assets/daria-averina-_867Jy8LCkI-unsplash.jpg" alt="" />
          <p>Naufal</p>
        </div>
        <div class="pic" id="pic2">
          <img src="/assets/daria-averina-_867Jy8LCkI-unsplash.jpg" alt="" />
          <p>Faiza</p>
        </div>
      </div>
    </div>
  </section>

  <section id="to3">
    <div class="container section-3">
      <div class="inside">
        <div class="wr">
          <h1>Undangan & Acara</h1>
          <p style="margin-bottom: 2rem">
            Bahagia rasanya apabila anda berkenan hadir dan memberikan doa restu
            kepada kami. Kami mengundang anda untuk hadir dalam acara resepsi
            pernikahan kam berikut ini
          </p>
        </div>
        <div class="card">
          <h1>AKAD NIKAH</h1>
          <div class="flex ai-center" style="justify-content: space-around">
            <div class="box">
              <i class="uil uil-calender"></i>
              <p style="margin-top: 1rem">Sabtu</p>
              <p>24 Nov 2023</p>
            </div>
            <div class="box">
              <i class="uil uil-clock"></i>
              <p style="margin-top: 1rem">Pukul</p>
              <p>08:00 - 10:00</p>
            </div>
          </div>
          <p style="margin-bottom: 3rem">
            Bertempat di Aula Masjid ABRI Cimahi - Jalan Gatot Subroto Kota
            Cimahi
          </p>
          <a href="" class="btn">Add To Calendar</a>
        </div>
        <div class="card">
          <h1>RESEPSI</h1>
          <div class="flex ai-center" style="justify-content: space-around">
            <div class="box">
              <i class="uil uil-calender"></i>
              <p style="margin-top: 1rem">Sabtu</p>
              <p>24 Nov 2023</p>
            </div>
            <div class="box">
              <i class="uil uil-clock"></i>
              <p style="margin-top: 1rem">Pukul</p>
              <p>10:00 - Selesai</p>
            </div>
          </div>
          <p style="margin-bottom: 3rem">
            Bertempat di Aula Masjid ABRI Cimahi - Jalan Gatot Subroto Kota
            Cimahi
          </p>
          <a href="" class="btn">Add To Calendar</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container section-4">
      <div class="wr">
        <h1>Peta Lokasi</h1>
        <p>Anda dapat menuju lokasi acara kam dengan bantuan peta dibawah ini.</p>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.033818047787!2d107.53555027419236!3d-6.886552767385269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e4526f94fd5b%3A0xbfb36bbad7c3bd4d!2sMasjid%20ABRI!5e0!3m2!1sen!2sid!4v1700840515659!5m2!1sen!2sid"
        width="100%"
        height="450"
        style="border: 5px solid orange; border-radius: 10px; margin-top: 1rem"
        allowfullscreen=""
        loading="fast"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>

  <section>
    <div class="container section-5">
      <div class="inside">
        <div class="wr">
          <h1>Galeri Photo</h1>
          <p style="margin-bottom: 1.5rem">
            Photo-photo kebahagiaan kami yang kami kenang selalu.
          </p>
        </div>
        <img src="/assets/daria-averina-_867Jy8LCkI-unsplash.jpg" alt="" />
        <img src="/assets/daria-averina-_867Jy8LCkI-unsplash.jpg" alt="" />
        <img src="/assets/daria-averina-_867Jy8LCkI-unsplash.jpg" alt="" />
      </div>
    </div>
  </section>

  <section>
    <div class="container section-6">
      <h1>Kirim Kado</h1>
      <p style="margin-bottom: 5rem">
        Terima kasih atas doa yang telah anda berikan, jika anda ingin
        mengirimkan kado, silahkan kirim dengan cara dibawah ini. Sebelumnya,
        kami mengucapkan banyak terima kasih.
      </p>
      <div class="flex ai-center" style="justify-content: space-around">
        <img src="/assets/pngwing.com.png" alt="" />
        <div style="text-align: right; margin-left: 6rem">
          <p style="margin: 0">No Rek:</p>
          <p style="margin: 0">198645689346</p>
        </div>
      </div>
      <a href="https://api.whatsapp.com/send?phone=62895411963066">
        <i class="uil uil-whatsapp" style="margin-right: 0.8rem"></i>
        <p style="margin: 0; color: wheat">Whatsapp</p>
      </a>
    </div>
  </section>

  <button onclick="toggleMute()" class="scrollBtn">
    <i class="uil uil-music"></i>
  </button>
</main>
